{# Esta es mi plantilla Base #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}CV GDCT{% endblock %}</title>

    {% block stylesheets %}
    {# Para traer nuestro archivo javascript del proyecto #}
    <link rel="stylesheet" href="{{ asset('public/libs/metisMenu/dist/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/libs/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('public/css/main.min.css') }}">
    {% endblock %}

    {% block javascripts %}
    {# Para mi reconocer la Routing.generate #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {# Para traer la libreria Jquery#}
    <script src="{{ asset('public/libs/jquery/dist/jquery.min.js') }}"></script>

    {# Para traer la libreria de Boostrap #}
    <script src="{{ asset('public/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {# Para traer la libreria del header #}
    <script src="{{ asset('public/libs/jquery-fixed-header/jquery.fixedHeader.js') }}"></script>

    {# Para traer el menu de la aplicacion #}
    <script src="{{ asset('public/js/main.min.js') }}"></script>

    {# Para traer nuestro archivo javascript del proyecto #}
    <script src="{{ asset('public/libs/metisMenu/dist/metisMenu.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    <header id="primary-header" class="fixed-header row">
        {% block header %}
            <div id="iconopresentacion" class="col-sm-12 col-md-3">
                <i class="fa fa-graduation-cap fa-4x iconcap col-sm-12 col-md-3" aria-hidden="true"></i>
                <h3 class="col-sm-12 col-md-8">Presentación</h3>
            </div>
            <nav class="topbar-nav is-hoverable col-sm-12 col-md-9">
                <ul class="metismenu" id="menu">
                    <li id="removable">
                        <a class="has-arrow" href="#" aria-expanded="false">Proyectos</a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Anteriores</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#">Tienda de calzados</a></li>
                                            <li><a href="#">Gestion de equipos de computo</a></li>
                                            <li><a href="#">Music concert</a></li>
                                            <li><a href="#">Portal de ingles</a></li>
                                         </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Recientes</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#">Graficas de ventas</a></li>
                                            <li><a href="#">Panel administrativo</a></li>
                                            <li><a href="#">Sistema para traducción de idiomas</a></li>
                                        </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Residencia</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#">Referencia y contrareferencias, traslados</a></li>
                                        </ul>
                                </li>
                            </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Lenguajes</a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Lenguajes de programación</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#lenguajesM">HTML</a></li>
                                            <li><a href="#lenguajesM">CSS</a></li>
                                            <li><a href="#lenguajesM">SASS</a></li>
                                            <li><a href="#lenguajesM">Javascript</a></li>
                                            <li><a href="#lenguajesM">JQuery</a></li>
                                            <li><a href="#lenguajesM">PHP</a></li>
                                            <li><a href="#lenguajesM">Ruby</a></li>
                                            <li><a href="#lenguajesM">C#</a></li>
                                            <li><a href="#lenguajesM">ASP.NET</a></li>
                                            <li><a href="#lenguajesM">Android</a></li>
                                            <li><a href="#lenguajesM">Babel</a></li>
                                            <li><a href="#lenguajesM">React</a></li>
                                         </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Framework</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#frameworkM">Symfony</a></li>
                                            <li><a href="#frameworkM">RailsBridge</a></li>
                                        </ul>
                                </li>                                
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Base de datos</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#bdM">MYSQL</a></li>
                                            <li><a href="#bdM">Pronto NoSQL</a></li>
                                        </ul>
                                </li>
                            </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Plugins</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Cassdown</a></li>
                                <li><a href="#">tree</a></li>
                                <li><a href="#">highcharts</a></li>
                                <li><a href="#">Pendienteo</a></li>
                                <li><a href="#">Pendiente</a></li>
                            </ul>
                    </li>                    

                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Otros</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="https://bitbucket.org/glendycovarrubias/" target="_blank">Bitbucket</a></li>
                                <li><a href="https://github.com/Glendy-Covarrubias" target="_blank">GitHub</a></li>
                                <li><a href="#">Workbench</a></li>
                                <li><a href="#">VisualStudio</a></li>
                                <li><a href="#">Sublime Text</a></li>
                                <li><a href="#">Gulp</a></li>
                            </ul>
                    </li>
                </ul>
            </nav>
        {% endblock %}
    </header>
    <section id="contBody" class="row">
        {% block contBodys %}
            <aside id="contAside" class="col-md-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img src="{{ asset('public/imagenes/fotog.jpg') }}" alt="Fotografia">
                                <div class="caption">
                                    <h3 id="titleCv">Curriculum</h3>
                                        <p id="textCv">
                                            He descubierto lo maravilloso que es la tecnologia, la alegria por cada cosa nueva que hay, que se aprende, cada uno tiene su ritmo y mi ritmo es este, me gusta crear, programar, diseñar, entender me lleva su tiempo pero soy perseverante por querer aprender y ser cada dia mejor. Deseo tener ideas emprendedoras con cada experiencia.
                                        </p>
                                        <p id="btnCv">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Más de mi ...</button>
                                        </p>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Datos Personales</h4>
                                </div>
                                <div class="modal-body">
                                        <dl class="dl-horizontal">
                                            <dt>Nombre:</dt>
                                            <dd>Glendy Covarrubias</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Edad:</dt>
                                            <dd>23</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Carrera:</dt>
                                            <dd>Ingenieria en sistemas computacionales</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Experiencia laboral:</dt>
                                            <dd>1 año</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Intereses:</dt>
                                            <dd>
                                                <ul>
                                                    <li>Programación</li>
                                                    <li>Cubos de rubik</li> 
                                                </ul>
                                            </dd>
                                        </dl> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                            </div>
                         </div>
                </div>
            </aside>

            <section id="contMod" class="col-md-9">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ asset('public/imagenes/login.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 1</h3>
                                    <p>hey1</p>
                                </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/imagenes/Calzados SIKIM.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/imagenes/EComputadoras.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/imagenes/android1.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div> 
                        <div class="item">
                            <img src="{{ asset('public/imagenes/android2.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/imagenes/indexprincipal.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div> 
                        <div class="item">
                            <img src="{{ asset('public/imagenes/pescapesca.png') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>Prueba 2</h3>
                                    <p>hey</p>
                                </div>
                        </div>                                                                                  
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>  
                </div>            
            </section>
        {% endblock %}
    </section>
    <section id="contAjax" class="row">
        <!-- Contenedor ajax -->
        <div id="infoAntUnoMenu" class="col-md-12">
            <a name="lenguajesM"></a>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/js6.png') }}" alt="Javascript6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/HTML5.png') }}" alt="HTML5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/CSS3.png') }}" alt="CSS3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/sass.png') }}" alt="SASS">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div> 
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/jquery.png') }}" alt="JQuery">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div> 
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/php.png') }}" alt="PHP">
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                            </div>
                        </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/android.png') }}" alt="Android">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/aspnet.png') }}" alt="ASP.NET">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/c.png') }}" alt="C#">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>     
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/ruby.png') }}" alt="Ruby">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>   
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/babel.png') }}" alt="Babel">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div> 
            <div class="col-md-2">
                <img class="divloco" src="{{ asset('public/imagenes/lenguajes/react.png') }}" alt="React">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>                                                                                 
        </div> 
        <div id="infoAntDosMenu" class="col-md-12">
            <a name="frameworkM"></a>
            <div class="col-md-6">
                <img id="divloco" src="{{ asset('public/imagenes/framework/symfony.png') }}" alt="Symfony">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('public/imagenes/framework/Ruby-On-Rails.png') }}" alt="Ruby-On-Rails">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>            
        </div>
        <div id="infoAntTresMenu" class="col-md-12">
            <a name="bdM"></a>
            <div class="col-md-6">
                <img src="{{ asset('public/imagenes/bd/mysql.png') }}" alt="MYSQL">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('public/imagenes/bd/nosql.png') }}" alt="NoSQL">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
            </div>            
        </div> 
    </section>
    <footer id="contFooter" class="row">
        {% block contFooteer %}
            <div class="col-md-6" id="copyright">
                <span>©Copyright 2017 Glendy Covarrubias</span>
            </div>
            <div class="col-md-6" id="conticonFoot">
                <a href="https://www.facebook.com/glendy.covarrubias.3" target="_blank">                    
                    <i class="fa fa-facebook-square fa-2x icoFoot" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/GlendyDianely" target="_blank">
                    <i class="fa fa-twitter-square fa-2x icoFoot" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/glendy_special_zone/?hl=es" target="_blank">
                    <i class="fa fa-instagram fa-2x icoFoot" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Glendy-Covarrubias" target="_blank">
                    <i class="fa fa-github-square fa-2x icoFoot" aria-hidden="true"></i>
                </a>
                <a href="https://bitbucket.org/glendycovarrubias/" target="_blank">
                    <i class="fa fa-bitbucket-square fa-2x icoFoot" aria-hidden="true"></i>
                </a>
            </div>
        {% endblock %}
    </footer>
</body>
</html>