body{
	margin: 0 auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

#primary-header{
	background-color: #1e2250;
	color: #ffffff;
}

.iconcap{
	color: #d0d030;
}

/* Menu nav */

.topbar-nav {
    background: #212529;
}
.topbar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #212529;
}
.topbar-nav .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.topbar-nav .metismenu > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.topbar-nav .metismenu a {
	/*margin-top: 0.5em;
	margin-bottom: 0.5em;*/
	font-size: 1.2em;
    position: relative;
    display: block;
    padding: 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}


.topbar-nav .metismenu a:hover,
.topbar-nav .metismenu a:focus,
.topbar-nav .metismenu a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #0b7285;
}

@media (min-width: 992px) {
    .topbar-nav .metismenu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .topbar-nav .metismenu > li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .topbar-nav .metismenu > li > ul {
        position: absolute;
        top: 100%;
        min-width: 100%;
        z-index: 1001;
    }
    .topbar-nav.is-hoverable .metismenu > li > ul {      
      height: auto !important;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > ul {
        display: block;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow:after {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
    }
}

div#iconopresentacion {
    text-align: center;
}

i.fa.fa-graduation-cap.fa-4x.iconcap.col-sm-12.col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}

nav.topbar-nav.is-hoverable.col-sm-12.col-md-9{
	padding-left: 0px;
	padding-right: 0px;
}

section#contMod {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#contFooter {
    background-color: #1e2250;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /*color: white;*/
   /* color: #d0d030;*/
}

#copyright{
	/*color: white;*/
	text-align: left;
	color: #d0d030;
}
#conticonFoot{
	text-align: right;
}

.icoFoot{
	color: white;
	margin-right: 0.3em;
	margin-left: 0.3em;
}

.icoFoot:hover{
	/*color: white;*/
	 color: #d0d030;
}

aside#contAside {
	padding-left: 0px;
	padding-right: 0px;
}

#titleCv {
    text-align: center;
}

#textCv{
        text-align: justify;
    font-size: 1.1em;
}

#btnCv{
    text-align: center;
}

.progress {
    margin-top: 1em;
}

#infoAntUnoMenu{
    background-color: lavender;
    padding-top: 1em;
    text-align: center;
}


#infoAntDosMenu{
    background-color: #737364;
    padding-top: 1em;
    text-align: center;
} 

#infoAntTresMenu {
    /*background-color: #737364;*/
    background-color: lightgoldenrodyellow;
    padding-top: 1em;
    text-align: center;
}

/*Rotacion*/
.divloco {
   text-align: center;
   transition: all 2s ease-in-out;
}
.divloco:hover, .divloco .hover_effect {
    transform: rotate(720deg) scale(1,1);
}
